{% extends "layout.html" %}

{% block title %}
Tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-5">Welcome bro</h1>

<h3 class="text-center mt-5 mb-3">Don't waste your time in reading this</h3>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ex culpa sint commodi numquam debitis recusandae quisquam mollitia iusto ullam, quam repudiandae eius deserunt dolorum sapiente ea, laboriosam veritatis quae.
Voluptates quam voluptas reprehenderit possimus pariatur ad, assumenda corrupti explicabo, ex officiis in fugit earum quibusdam repellendus delectus tenetur, maxime repellat rerum error quisquam debitis quasi corporis doloribus. Laboriosam, voluptates.
Repudiandae quaerat quis magnam odio optio, aliquid esse dolorum impedit similique aperiam totam voluptas perspiciatis asperiores adipisci fuga repellendus sequi aliquam. Possimus exercitationem similique consequuntur veritatis impedit veniam officiis saepe!
{% endblock %}