{% extends "layout.html" %} {% block title %} Tweet {% endblock %} {% block content %}
<h1 class="text-center mt-5">Welcome tweet_list</h1>

<a class="btn btn-primary" href="{% url 'tweet_create'%}">New Tweet</a>
<div class="container row gap-3">
  {% for tweet in tweets %}
  <div class="card" style="width: 18rem">
    <img src="{{tweet.img.url}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{tweet.user.username}}</h5>
      <p class="card-text">{{tweet.text}}</p>
      <a href="{% url 'tweet_edit' tweet.id%}" class="btn btn-primary">Edit</a>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#deleteModal{{ tweet.id }}">
        Delete
      </button>
    </div>
  </div>

  {% include "confirm_delete_modal.html" %} {% endfor %}
</div>
{% endblock %}
